<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiCategory</key>
	<dict>
		<key>CellTitlesArray</key>
		<array>
			<array>
				<string>查询手机号码归属地</string>
			</array>
			<array>
				<string>邮编查询</string>
				<string>邮编城市列表查询</string>
				<string>搜索地址名查询</string>
			</array>
			<array>
				<string>查询天气</string>
				<string>获取城市列表</string>
				<string>ip查询天气</string>
				<string>天气类型查询</string>
			</array>
			<array>
				<string>身份证信息查询</string>
			</array>
			<array>
				<string>手机基站查询</string>
			</array>
			<array>
				<string>空气质量查询</string>
			</array>
			<array>
				<string>ip信息查询</string>
			</array>
			<array>
				<string>号码吉凶查询</string>
			</array>
			<array>
				<string>银行卡信息</string>
			</array>
			<array>
				<string>老黄历查询</string>
			</array>
			<array>
				<string>健康查询</string>
			</array>
			<array>
				<string>婚姻匹配</string>
			</array>
			<array>
				<string>历史上的今天</string>
			</array>
			<array>
				<string>周公解梦</string>
			</array>
			<array>
				<string>成语</string>
			</array>
			<array>
				<string>新华字典</string>
			</array>
			<array>
				<string>车次查询</string>
				<string>站站查询</string>
			</array>
		</array>
		<key>SectionTitlesArray</key>
		<array>
			<string>手机查询</string>
			<string>邮编查询</string>
			<string>天气查询</string>
			<string>身份证信息查询</string>
			<string>手机基站查询</string>
			<string>空气质量查询</string>
			<string>ip信息查询</string>
			<string>号码信息查询</string>
			<string>银行卡信息查询</string>
			<string>老黄历查询</string>
			<string>健康知识查询</string>
			<string>婚姻匹配查询</string>
			<string>历史上的今天查询</string>
			<string>周公解梦查询</string>
			<string>成语查询</string>
			<string>新华字典查询</string>
			<string>火车票相关查询</string>
		</array>
	</dict>
</dict>
</plist>
